$primary-color: #ee9f27;
$secundary-color:#811517;


@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-column-start {
    display: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin input {
    width: 80%;
    max-width: 320px;
    padding: 15px 10px;
    text-align: start;
}