@import '../../../generics.scss';

.takesOrder{
    width: 100%;
    height: 100%;
    @include flex-column-center;
    position: relative;
    // background: url('/src/assets/images/background1.jpg') no-repeat 50% 50%/cover;
    background: #202020;

    &_role{
        font-weight: 500;
        font-size: 28px;
        color: #fff;  
    }
}