@import '../../../generics.scss';

.containerOrder{

    width: 80%;
    @include flex-column-center;
    gap: 50px;

    &_products{
        width: 100%;
        gap: 30px;
        @include flex-row-center;
        flex-wrap: wrap;
    }

    &_select{
        width: 40%;
        height: 60px;
        border-radius: 10px;
        border: none;
        background: url('../../../assets/images/triangle.png') no-repeat 95% 50% $primary-color !important;
        appearance: none;
        outline: none;
        padding: 20px;
        font-weight: 600;
        font-size: 20px;
    }
}