.modalViewOrder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ECECEC;
    gap: 20px;
    padding: 20px 20px 0 20px;

    &_header{
        width: 90%;
    }
    &_headerRow{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    &_body{
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
    }

    &_rowBody {
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        gap: 90px;
        padding: 0 10px
    }

    &_footRow{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 100px;
        background: #B8B5B5;
        border-radius: 10px 10px 0 0;
        padding: 0 30px 0px 30px;
    }

}