@import '../../generics.scss';

.loginPage{
    width: 100%;
    height: 100%;

    @include flex-column-center;

    position: relative;
  
    &::after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.35) 100%);
    }

    &_background{
        height: 100%;
        width: 100%;
        min-width: 320px;
        max-width: 1100px;
        position: absolute;
        z-index: -1;
        object-fit: cover;
    }

    &_container{
        width: 90%;
        max-width: 800px;
        height: 100%;
        @include flex-column-center;

        gap:100px;
    }

    &_logo{
        width: 70%;
        max-width: 300px;
    }

    &_form{
        width: 70%;
        @include flex-column-center;
        gap: 15px;
    }

    &_input{
        width: 100%;
        max-width: 320px;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        text-align: start;
        outline: none;

        
        &:active {
            box-shadow:  3px -3px 6px #fbcf8d,
			-3px 3px 6px $primary-color;
        }

        &:focus {
            border: 2px solid #F9B209;
            color:#474747;
        }
    }

    &_btn{
        width: 100%;
        max-width: 320px;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        text-align: center;
        background: #F9B209;
        margin-top: 50px;
        outline: none;
        cursor: pointer;

        &:active{
            box-shadow: #b68105 0 3px 7px inset;
            color: #fff;
        }
        
        &:hover{
            background: #eaaf25;
        }
    }
}

@media (min-width: 750px) {
    .loginPage{

        &_container{
            padding-bottom: 200px;
        }
    }
}



@media (min-width: 1024px) {
    .loginPage{
        &_container{
            flex-direction: row; 
            max-width: 1000px;
            padding-bottom: 0;
            gap: 140px;
        }

        &_background{
            max-width: 1450px;
        }

        &_logo{
            max-width: 350px;
            margin-top: 0;
        }

        &_input{
            max-width: 340px;
            font-size: 18px;
        }

        &_btn{
            max-width: 340px;
            font-size: 18px;
        }
        
    }
}

